*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/layout/activity_group_chats_wNAVNOWORK.xml
app/src/main/res/layout/activity_group_chats_backup2.xml
app/src/main/res/layout/activity_group_chats_backup.xml
gradle/wrapper/gradle-wrapper.properties
build.gradle
app/build.gradle
